h2{
  background-color:aliceblue
}



.add {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  margin: 150px;
  padding-right: 0px;
  font-size: 28px;
  
 
  
}
.full {
  
  width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding-left: 250px;
}
.prof {
  padding-top: 100px;
    
}
